#
# repository of processed observations
archiveDir: /var/mellow/mastodon/archive
#
# repository of problem files
failureDir: /var/mellow/mastodon/failure
#
# repository of freshly collected observations
freshDir: /var/mellow/mastodon/fresh
#
# test artifacts
testDir: /var/mellow/mastodon/test
#
# database connection
dbConn: "postgresql+psycopg2://mastodon_py:bogus@localhost:5432/mastodon_v1"
#
# true, echo SQL statements
sqlEchoEnable: true
#
